body {
        font-size: 40%;
    }

a {
    font-size: 2%;
}



img {
    width: 100%;
    height: auto;
}

@media (min-width: 1024px) {
    body {
        font-size: 100%;
    }


img {
    width: 25%;
    height: auto;
}


}




