body {
        font-size: 150%;
    }
a {
    font-size: 200%;
}

img {
    width: 100%;
    height: auto;
}

@media (min-width: 1024px) {
    body {
        font-size: 200%;
    }
}

